<form [formGroup]="profileForm">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">
    <br>
    <label for="internal">Internal</label>
        <input type="radio" id="internal" name="PAFType"
            [checked]="PAFType === 'internal'" (change)="handlePAFTypeChange($event)">
    <br>
    <label for="external">External</label>
        <input type="radio" id="external" name="PAFType"
            [checked]="PAFType === 'external'" (change)="handlePAFTypeChange($event)">
    <br>
    <button type="button" (click)="updateName()">submit</button>
</form>