<!-- <div class="slideshow-container">
    <div class="mySlides">
      <img src="http://localhost:8090/la.jpg" style="width: 1000px; height: 640px">
      <div class="text">Los Angeles</div>
    </div>
    <div class="mySlides">
      <img src="http://localhost:8090/nyc.jpg" style="width: 1000px; height: 640px">
      <div class="text">New york</div>
    </div>
    <div class="mySlides">
      <img src="http://localhost:8090/delhi.jpg" style="width: 1000px; height: 640px">
      <div class="text">Delhi</div>
    </div>
    <div class="mySlides">
      <img src="http://localhost:8090/singapore.jpg" style="width: 1000px; height: 640px">
      <div class="text">Singapore</div>
    </div>
    
    <div class="mySlides">
      <img src="http://localhost:8090/sydney.jpg" style="width: 1000px; height: 640px">
      <div class="text">Sydney</div>
    </div>
</div> -->

<div class="slideshow-container">
    <div class="mySlides">
      <img src="http://localhost:8090/{{arr[num]}}.jpg" style="width: 1000px; height: 540px">
      <div class="text">{{cityName[num]}}</div>
    </div>
</div>
<br>
